<div id="hc-loading-screen" class="hc-loading-screen">
  <div class="hc-loading-logo">
    <span class="hc-loading-dot"></span>
    <span>Arise To Light</span>
  </div>
  <div class="hc-loading-bar"><div class="hc-loading-bar-fill"></div></div>
</div>
